common --enable_bzlmod

# Use "tsc" as the transpiler when ts_project has no `transpiler` set.
common --@aspect_rules_ts//ts:default_to_tsc_transpiler
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig