.container>ol {
  list-style: none;
}

.feeling {
  border-radius: 22px;
  color: #ffffff;
  font-weight: bold;
  padding: var(--padding-small);
  width: fit-content;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: var(--padding-large);
}
