.container,
.day {
  list-style: none;
  margin: 0;
  padding: 0;
}

.day>li {
  margin: var(--padding-med);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: var(--padding-large) 0;
}
