.header {
  display: flex;
  flex-direction: row;
}

:global(.index-content) {
  display: flex;
  flex-direction: column;
  gap: var(--padding-med);
  justify-content: space-around;
}

.footer {
  font-weight: 300;
  font-size: 12px;
}