.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.feeling {
  margin: var(--padding-small) 0;
  user-select: none;
}

.searchInput {
  display: block;
  margin: var(--padding-small) 0;
  width: 100%;
}
