.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header {
  flex: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.footer {
  flex: 0;
}