.tag {
  align-items: center;
  background-color: var(--tag-color-gray);
  border-radius: 999px;
  color: var(--tag-text-color);
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  font-size: var(--font-size-small);
  font-weight: 400;
  gap: var(--padding-small);
  padding: var(--padding-small);
}

.clickable {
  cursor: pointer;
}
