.list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--padding-small);
    margin: var(--padding-small) 0;
  }
}

.iconContainer {
  display: inline-block;
  height: 1em;
  margin-right: 8px;
  width: 1em;
}
