html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  --bg: #FFEDD2;
  --border-radius: 4px;
  --border: rgba(0, 0, 0, 0.2);
  --button-bg: #284a85;
  --button-color: #ffffff;
  --col-success: #006716;
  --font-size-large: 24px;
  --font-size-med: 18px;
  --input-bg: #ffffff;
  --input-border-focus: 2px solid #a7a7a7;
  --input-border: 2px solid transparent;
  --padding-med: 16px;
  --padding-small: 12px;

  background: var(--bg);
}

@media (max-width: 600px) {
  body {
  --border-radius: 2px;
  --font-size-large: 20px;
  --font-size-med: 16px;
  --input-border-focus: 1px solid #a7a7a7;
  --input-border: 1px solid transparent;
  --padding-med: 8px;
  --padding-small: 6px;
  }
}

* {
  font-family: "Raleway", sans-serif;
}
